.common-button a{
    
    background: #FCD980;
    padding: 16px 54px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    font-family: "Manrope", serif;
    border-radius: 41px;
    border: 1px solid transparent;
    transition: .4s;
    display: inline-block;
    

}
.common-button-two{
    display: flex;
    align-items: center;
    column-gap: 16px;
    position: relative;
}
.common-button-two a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", serif;

}
.common-button-two i{
    color: white;
    position: absolute;
    top: 6px;
    right: -15px;
    opacity: 0;
    transition: .4s;
}
.common-button-two:hover i{
    top: 6px;
    right: -25px;
    opacity: 1;

}

.common-button a:hover{
    background: transparent;
    border-color: rgba(244, 246, 252,0.20);
    color: white;

}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}

.title h2{
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", serif;
    color: #282938;

}
.title p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
    color: #282938;
    width: 405px;
    padding: 16px 0px;

}
/* ===================
Navber part start
==================== */

nav{
    background: #1C1E53;
    padding: 30px 0px !important;
}
.navbar-nav{
    column-gap: 32px;
}
.nav-link{
    padding-right: 0px !important;
    padding-left: 0px !important;
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", serif;
}
.nav-link:hover{
    color: #ffffff;

}
.navber-button a{
    text-decoration: none;
    background: transparent;
    padding: 16px 48px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", serif;
    border-radius: 41px;
    border: 1px solid rgba(244, 246, 252,0.20);
    transition: .4s;
    margin-left: 42px;

}
.navber-button a:hover{
    background: #FCD980;
    color: #1C1E53;
    border-color: transparent;

}
/* ===================
Navber part End
==================== */
/* ===================
Banner part start
==================== */
.banner{
    background: #1C1E53;
    padding: 126px 0px;
}

.banner h1{
font-size: 54px;
font-weight: 600;
color: white;
font-family: "Poppins", serif;
line-height: 74px;

}
.banner p{
font-size: 16px;
font-weight: 500;
color: rgba(255, 255, 255,0.70);
font-family: "Poppins", serif;
line-height: 28px;
width: 568px;
padding-top: 24px;
padding-bottom: 48px;

}
.banner-button-box{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
/* ===================
Banner part End
==================== */
/* ===================
work part start
==================== */
.work{
    background: #F4F6FC;
    padding: 128px 0px;
}
.work .work-link a{
    color: #2405F2;
}

.work-link i {
    top: 6px;
    left: 190px;
    opacity: 0;
    transition: .4s;
    color: #2405F2;
}
.work-link:hover i{
    top: 6px;
    left: 210px;
    opacity: 1;

}
.work .box{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}
.work .work-box{
    width: 328px;
   
}

.work .work-box h4{
    font-size: 32px;
    font-weight: 500;
    color: #282938;
    font-family: "Poppins", serif;
    padding-top: 16px;
    padding-bottom: 8px;

}
.work .work-box p{
    font-size: 16px;
    font-weight: 400;
    color: #282938;
    font-family: "Poppins", serif;
    width: 303px;

}


/* ===================
work part End
==================== */

/* ===================
Project part start
==================== */
.project{
    padding: 128px 0px;
}
.project .box{
    display: flex;
    justify-content: space-between;
}
.project .box h2{
    font-size: 48px;
    font-weight: 600;
    color: #282938;
    font-family: "Poppins", serif;
    padding-bottom: 64px;
    
}
.project .work-link a{
    color: #282938 ;
}
.project .work-link i{
    left: 93px;
    top: 26px;
    
    
}
.project .work-link:hover i{
    right: -20px;
    
}

.project .project-layout{
    position: relative;
    overflow: hidden;
}
.project .project-layout .overly{
    position: absolute;
    top: 0;
    left: -52%;
    width: 52%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(28, 30, 83,0.42),#1C1E53);
    transition: .4s;
}
.project .project-layout:hover .overly{
    left: 0;

}

.project .overly{
    padding-top: 312px;
    padding-left: 48px;
    padding-right: 32px;
}

.project .title2 h2{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", serif;
    
}
.project .title2 p{
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255,0.80);
    font-family: "Poppins", serif;
}
.project .work-link a{
    font-size: 16px;
    font-weight: 600;
    color: #FCD980;
    font-family: "Poppins", serif;
}
.project .box2{
    display: flex;
   flex-direction: column;
   row-gap: 14px;
    
}

/* ===================
Project part End
==================== */

/* ===================
product part start
==================== */
.product{
    background: #F4F6FC;
    padding: 128px 0px;
}
.product .title3 p{
    text-align: center;
   
   
    margin: 0 auto;

}
.product .title3 h2{
   text-align: center;
    width: 630px;
    margin: 0 auto;

}

.product .card{
    width: 100% !important;
    padding-top: 58px;
    padding-bottom: 58px;
    padding-left: 48px;
    padding-right: 40px;
    border: 0px;
    border-radius: 0px;
}
.product .card img{
    width: 10%;
}
.product .card .card-body{
    padding: 0 !important;

}
.product .card .card-body .card-title{
    font-size: 24px;
    font-weight: 500;
    color: #282938;
    font-family: "Poppins", serif;
    padding-top: 22px;
    padding-bottom: 12px;

}
.product .card .card-body .card-text{
    font-size: 16px;
    font-weight: 400;
    color: #282938;
    font-family: "Poppins", serif;
    line-height: 28px;

}

/* ===================
product part End
==================== */
/* ===================
client part start
==================== */
.client{
    padding: 130px 0px;
    background: rgba(244, 246, 252,0.50);
}
.client .title4 h2{
    font-size: 38px;
    width: 327px;
}
.client .title5 h2{
    font-size: 32px;
   color: #282938;
   width: 843px;
   font-weight: 500;
   line-height: 48px;
}
.client .box5{
    display: flex;
   align-items: center;
   column-gap: 14px;
   padding-top: 48px;
}
.client .box5 h5{
    font-size: 18px;
    font-weight: 500;
    color: #282938;
    font-family: "Poppins", serif;
}
.client .box5 p{
    font-size: 12px;
    font-weight: 500;
    color: #282938;
    font-family: "Poppins", serif;
}
/* ===================
client part End
==================== */
/* ===================
title6 part start
==================== */
.faq{
    padding: 128px 0px;
}
.faq .title6 h2{
    font-size: 38px;
    padding-bottom: 16px;

}
.faq .title6 .work-link a{
    color: #2405F2;

}
.faq .accordion-item{
    border: 0px;
    border-bottom: 1px solid #ECECF1;
}
.faq .accordion-item span{
    font-size: 24px;
    color: #2405F2;
    padding-right: 60px;
}
.faq .accordion-item .accordion-body p{
    padding:0 87px !important;

}

.accordion-button::after{
    background-image: none !important;
    content: "+";
    transform: rotate(0) translateY(-50%);
    position: absolute;
    top: 36%;
    right: 20px;
    font-size: 25px;
  


}
.accordion-button:not(.collapsed)::after{
    background-image: none !important;
    content: "x";
    transform: rotate(0) translateY(-50%);
    position: absolute;
    top: 36%;
    right: 20px;
    font-size: 25px;
    


}

/* ===================
title6 part End
==================== */

